<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>順位</th> 
      <th>単語</th>
      <th>回数</th>
    </tr>
  </thead>
  <tbody>
    <% @englishes.each do |english| %>
      <tr>
        <td><%= english.id %></td>
        <td><%= english.e_tango %></td>
        <td><%= english.e_times %></td>
      </tr>
    <% end %>
  </tbody>
</table>
